*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    height: 100%; /* Ensure the body takes the full height of the viewport */
    margin: 0;
    padding: 0;
    display: flex;
    /* color: rgb(165, 153, 153); */
    flex-direction: column; /* Stack children vertically */
}

header {
   background-color: #0056b3; /* Deep blue to match most logos */
        color: white;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1; /* Allow main to grow and take available space */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    width: 100%;
}
